.title {
    margin: 2em auto;
    width: 30px;
    font-size: 1.5em;
}
/* FLEXBOX */
.green-flex {
    display: flex;
    justify-content: center;
    gap: 16%;
}
.green-flex div {
    width: 3.5em;
    height: 5em;
    border:  1px solid black;
    background-color: rgb(129, 219, 38);
    margin: 0;
}

.red-flex {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    align-items: stretch;
}   
.red-flex div {
    height: 2.5em;
    background-color: rgb(233, 13, 13);
    width: 100vw;
    border: 1px solid black;
}
.red-flex :nth-child(2) {
    width: 300%;
}

/* GRID */
.red-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.red-grid div {
    height: 5em;
    background-color: rgb(233, 13, 13);
    border: 1px solid black;
}

.green-grid {
    display: grid;
    grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
    grid-template-rows: [row1] 25% [row2] 25% [row3] 25% [row5] 25% [end];
  }

.green-grid div {
    background-color: rgb(0, 255, 30);
    border: 1px solid black;
}
.uno {
    grid-column: first / end;
    grid-row: row1 / row2;
    height: 5em;
}
.dos {
    grid-column: first / line2;
    grid-row: row2 / end;
    height: 20em;
}
.tres {
    grid-column: line2 / line3;
    grid-row: row2 / row3;
    height: 5em;
}
.quatro {
    grid-column: line3 / end;
    grid-row: row2 / row3;
    height: 5em;
}
.cinco {
    grid-column: line2 / line3;
    grid-row: row3 / row4;
    height: 5em;
}

/* FORUM */

.forum {
    width: 70vw;
    margin: 1em auto;
    padding: 1em 2em;
    background-color: rgba(222, 227, 227, 0.784);
}
.forumHeader h1 {
    border: 2px solid rgba(132, 126, 126, 0.964);
    margin: 0;
    padding: 10px;
}
.forumHeader button {
    margin-top: 10px;
    padding: 5px;
    width: 8em;
}
.createPost {
    margin: 3.5em 1em 2em 1em;
}
.createPost textarea {
    display: block;
    margin-bottom: 1em;
}
.post {
    margin: 1em;
    padding: 10px;
    border: 1px solid rgba(132, 126, 126, 0.964);
    border-radius: 8px;
}
.post h4 {
    display: inline;
    text-decoration: underline;
}
.post button {
    float: right;
}
.post p {
    margin-top: 1em;
}